/* Home */

body,
html {
  height: 100%; /* Ensure the html and body are full height */
  margin: 0;
  padding: 0;
}

/* Add this new rule: */
.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-frame {
  background-color: #ffffff;
  flex-grow: 1; /* This makes the main content grow to take up any remaining space */
}

.content-wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 55px 90px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.name {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 3.5px;
  margin-top: 50px; /* Adjust as needed */
  text-align: left; /* Align text to the left */
}

.role {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: -3.24px;
  width: 50%;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.description {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 29px;
  width: 100%;
  text-align: center;
}

.image-section {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  align-items: center;
}

.profile-image {
  max-width: 397px;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
}

.separator-line {
  width: 100%;
  height: 4px;
  object-fit: cover;
  margin-bottom: 20px;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 30px 20px;
  box-sizing: border-box;
}

.navbar .left-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}

.navbar .nav-item {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}

.navbar .email {
  height: 37px;
  width: 37px;
}

.navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  height: 50px;
  width: 50px;
}

.navbar .logo .logo-text {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .navbar .left-side {
    width: 100%;
    justify-content: center;
  }
}

/* Skills Container */

.skills-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background-size: cover;
}

.skills-container .title {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2.2px;
  white-space: nowrap;
}

.skills-container .skill-set {
  display: flex;
  gap: 20px;
  align-items: center; /* Add this line */
}

.skills-container .skill {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2.2px;
  white-space: nowrap;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.layer {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin: auto;
}

.line {
  height: 2px;
  background-color: black;
  position: absolute;
}

.text-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  z-index: 1;
  align-items: center; /* Center the content vertically */
}

/* Social Links */

.social-link {
  color: #000;
  font-size: 16px;
  font-family: "Inter", Helvetica;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.icon-circle {
  width: 27.163px;
  height: 24px;
}

@media screen and (max-width: 768px) {
  /* The content-wrapper's padding might be too large for smaller screens, so we reduce it here */
  .content-wrapper {
    padding: 20px;
  }

  /* Reduce font size for smaller screens */
  .name {
    font-size: 30px;
  }

  .role {
    font-size: 24px;
  }

  .description {
    font-size: 16px;
  }

  .text-section,
  .image-section {
    width: 100%;
  }

  .content-wrapper {
    flex-direction: column;
    align-items: center;
  }
}

/* About Me */

.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

.box-wrapper {
  border: 0px none;
  height: 386px;
  width: 559px;
}

.box .frame {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: fit-content;
}

.box .text-wrapper {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 70px;
  font-weight: 700;
  height: 85px;
  letter-spacing: 3.85px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 435px;
}

.box .birthdate {
  color: #000000;
  font-family: "Inter-Light", Helvetica;
  font-size: 32px;
  font-weight: 300;
  height: 61px;
  letter-spacing: 3.36px;
  line-height: 51.4px;
  position: relative;
  white-space: nowrap;
  width: 321px;
}

.box .city {
  color: #000000;
  font-family: "Inter-Light", Helvetica;
  font-size: 22px;
  font-weight: 300;
  height: 37px;
  letter-spacing: 2.31px;
  line-height: 35.3px;
  position: relative;
  white-space: nowrap;
  width: 175px;
}

.box .name {
  color: #000000;
  font-family: "Inter-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  height: 30px;
  letter-spacing: 2.1px;
  line-height: 32.1px;
  position: relative;
  white-space: nowrap;
  width: 373px;
}

.box .about-me {
  color: #000000;
  font-family: "Inter-Light", Helvetica;
  font-size: 20px;
  font-weight: 300;
  height: 109px;
  letter-spacing: 2.1px;
  line-height: 32.1px;
  position: relative;
  width: 540px;
}
