/* Home */

body,
html {
  height: 100%; /* Ensure the html and body are full height */
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Minimum height of 100% of the viewport height */
}

.hero-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-grow: 1; /* Allows this div to take up remaining space */
}

/* Hero Section */

.hero {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.hero .time-version {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  padding: 0; /* Add this */
}

.hero .time,
.hero .version {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.time-text,
.version-text,
.year-text {
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0.96px;
  line-height: normal;
}

.hero-section {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center; /* Center horizontally */
  flex-grow: 1; /* Allows this div to take up remaining space */
  padding: 100px;
}

.hero .name {
  font-family: "Inter-Medium", Helvetica;
  font-size: 120px;
  font-weight: 500;
  white-space: nowrap;
  letter-spacing: -6px;
  line-height: normal;
  padding: 20px;
}

.hero .role {
  font-size: 50px;
  font-weight: 200;
  letter-spacing: -2.5px;
}

.hero-description {
  font-weight: 400px;
  font-size: 20px;
  width: 512px;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 30px 20px;
  box-sizing: border-box;
}

.navbar .left-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}

.navbar .nav-item {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  white-space: nowrap;
}

.navbar .email {
  height: 37px;
  width: 37px;
}

.navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  height: 50px;
  width: 50px;
}

.navbar .logo .logo-text {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .navbar .left-side {
    width: 100%;
    justify-content: center;
  }
}

.separator-line {
  width: 100%;
  height: 4px;
  object-fit: cover;
  margin-bottom: 20px;
}

/* Skills Container */

.skills-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background-size: cover;
}

.skills-container .title {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2.2px;
  white-space: nowrap;
}

.skills-container .skill-set {
  display: flex;
  gap: 20px;
  align-items: center; /* Add this line */
}

.skills-container .skill {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2.2px;
  white-space: nowrap;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.layer {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin: auto;
}

.line {
  height: 2px;
  background-color: black;
  position: absolute;
}

.text-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  z-index: 1;
  align-items: center; /* Center the content vertically */
}

/* Social Links */

.social-link {
  color: #000;
  font-size: 16px;
  font-family: "Inter", Helvetica;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.icon-circle {
  width: 27.163px;
  height: 24px;
}

@media screen and (max-width: 768px) {
  /* The content-wrapper's padding might be too large for smaller screens, so we reduce it here */
  .content-wrapper {
    padding: 20px;
  }

  /* Reduce font size for smaller screens */
  .name {
    font-size: 30px;
  }

  .role {
    font-size: 24px;
  }

  .description {
    font-size: 16px;
  }

  .text-section,
  .image-section {
    width: 100%;
  }

  .content-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
